{% extends 'cafeManagement/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="form-signin w-100 p-15 col-md-10 mx-auto col-lg-5" style="max-width: 330px">
      <form action="" method="POST">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal text-center">CREATE ACCOUNT</h1>

        {{form|crispy}}

        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-success" type="submit">Create Account</button>
      </form>
    </div>
{% endblock content %}